{% extends 'layout.html' %}
{% block body %}
<div class="content-section">
    <form method="post">
        <!-- form is the RegistrationForm object -->
        <!-- it is for csrf token -->
        {{
        form.hidden_tag()
        }}
        <fieldset class="form-group">
            <legend>{{ legend }}</legend>
            <div class="form-group my-2">
                {{form.title.label(class="form-control-label ") }}
                <!-- catching errors in title -->
                {% if form.title.errors %}
                {{form.title(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.title(class="form-control form-control-lg") }}
                <!-- html classes for field -->
                {% endif %}
            </div>

            <div class="form-group my-2">
                {{form.content.label(class="form-control-label ") }}
                <!-- catching errors in content -->
                {% if form.content.errors %}
                {{form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.content(class="form-control form-control-lg") }}
                <!-- html classes for field -->
                {% endif %}
            </div>

            <div>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
</div>
{% endblock body %}