{% extends 'layout.html' %}
{% block body %}
<div class="content-section">
    <form method="post">
        <!-- form is the RegistrationForm object -->
        <!-- it is for csrf token -->
        {{
        form.hidden_tag()
        }}
        <fieldset class="form-group">
            <legend>Join Today</legend>
            <div class="form-group my-2">
                <!-- we are using the attributes name or variable names declared in the Registration form class in forms.py -->
                <div class="form-group my-2">
                    {{form.username.label(class="form-control-label is-invalid") }}
                    <!-- catching errors in username -->
                    {% if form.username.errors %}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.username(class="form-control form-control-lg") }}
                    <!-- html classes for field -->
                    {% endif %}
                </div>

                {{form.email.label(class="form-control-label is-invalid") }}
                <!-- catching errors in email -->
                {% if form.email.errors %}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.email(class="form-control form-control-lg") }}
                <!-- html classes for field -->
                {% endif %}
            </div>

            <div class="form-group my-2">
                {{form.password.label(class="form-control-label is-invalid") }}
                <!-- catching errors in password -->
                {% if form.password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.password(class="form-control form-control-lg") }}
                <!-- html classes for field -->
                {% endif %}
            </div>

            <div class="form-group my-2">
                {{form.confirm_password.label(class="form-control-label is-invalid") }}
                <!-- catching errors in confirm_password -->
                {% if form.confirm_password.errors %}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{form.confirm_password(class="form-control form-control-lg") }}
                <!-- html classes for field -->
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group my-2">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="border-top pt-3 my-2">
        <small class="text-muted">
            Already have an Account?
            <a href="{{ url_for('login') }}">Sign In</a>
            <!-- login is the function of the route in blog.py -->
        </small>
    </div>
</div>
{% endblock body %}